<template>
  <v-card dir="rtl" class="rounded-xl mb-3 mx-3">
    <v-card-text>
      <v-chip class="my-1">{{ company }}</v-chip>
      <p class="ma-1 coupon-head font-weight-bold text--primary">{{ title }}</p>
      <div class="text--primary">{{ description }}</div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "Coupon",
  props: {
    title: String,
    description: String,
    loaction: String,
    company: String,
  },
  data: () => ({}),
};
</script>

<style>
.coupon-head{
  font-size: 1.2em
}
</style>
