<template>
  <v-app>
    <div id="app">
      <v-overlay :opacity="0.9" :value="isSearcing">
        <v-progress-circular indeterminate size="64">
          ...טוען
        </v-progress-circular>
      </v-overlay>
      <v-row class="ma-0 pa-4 justify-center sticky-search">
        <v-col
          cols="auto"
          class="d-flex flex-row justify-center align-items-center"
        >
          <vs-input
            dir="rtl"
            state="red"
            color="#ee3155"
            danger
            icon-after
            v-model="searchInput"
            @change="getCoupons"
          >
            <template #icon>
              <v-icon class="px-1" size="18">fas fa-search</v-icon>
            </template>
          </vs-input>
        </v-col>
      </v-row>
      <div v-if="coupons.length > 0">
        <Coupon
          v-for="coupon in coupons"
          :key="coupon.coupon_name"
          :title="coupon.coupon_name"
          :description="coupon.coupon_description"
          :company="coupon.company"
        />
      </div>
      <p v-if="!firstSearch && coupons.length === 0 && !isSearcing" class="text-center white--text">לא נמצאו תוצאות</p>
    </div>
  </v-app>
</template>

<script>
import Coupon from "./components/Coupon.vue";

export default {
  name: "App",
  components: {
    Coupon,
  },
  data: () => ({
    searchInput: "",
    isSearcing: false,
    coupons: [],
    active: 0,
    firstSearch : true
  }),
  methods: {
    async getCoupons() {
      this.firstSearch = false
      try {
        this.isSearcing = true;
        const couponsDict = await (
           //DEV: http://localhost:5000/api/
           //PROD:https://cs-server-new.herokuapp.com/api/
          await fetch(`https://cs-server-new.herokuapp.com/api/${this.searchInput}`)
        ).json();

        let allCoupons = [];
        const convert = new Promise((resolve) => {
          Object.keys(couponsDict).forEach((company, index) => {
            const companyCoupons = couponsDict[company];
            if(companyCoupons){
              companyCoupons.forEach((coupon) => {
                if (company === "ביחד בשבילך") {
                  coupon.coupon_name = coupon.categoryName;
                  coupon.coupon_description = coupon.description;
                } else if (company === "פיס פלוס") {
                  coupon.coupon_name = coupon.benefits_name;
                  coupon.coupon_description = coupon.benefits_short_description;
                }
                coupon.company = company;
              });
              allCoupons = [...allCoupons, ...companyCoupons];
            }
            
            if (index === Object.keys(couponsDict).length - 1) {
              resolve();
            }
          });
        });

        convert.then(() => {
          console.log("Convert ended");
          this.coupons = allCoupons;
        });
        this.isSearcing = false;
      } catch (err) {
        console.log(err);
      }
    },
  },
  mounted() {
    this.overlay = false;
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Heebo");

html,
#app{
  background: #333333;
  font-family: 'Heebo'
}
.search-btn {
  position: absolute;
  left: 1px !important;
}
.sticky-search {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #333333b7, #333333);
}
/deep/ .v-text-field {
  width: 250px;
}
</style>